apiVersion: v1
kind: Service
metadata:
  name: security-portal
  namespace: hsps
  labels:
    app: security-portal
spec:
  type: ClusterIP
  ports:
  - port: 8000
    targetPort: 8000
    protocol: TCP
    name: http
  selector:
    app: security-portal
