apiVersion: v1
kind: Service
metadata:
  name: star-database-simulator
  namespace: star
  labels:
    app: hsps-database-simulator
    component: database
spec:
  type: ClusterIP
  ports:
  - port: 8000
    targetPort: 8000
    protocol: TCP
    name: http
  selector:
    app: hsps-database-simulator
